{% for reply in comment.replies %}
    {% if reply.parent_id == comment.id %}
        <div class="reply">
            <img
	    	{% if comment.user.profile_image %} 
	    		src="{{ reply.user.profile_image }}" 
	    	{% else %}
	    		src="{{ url_for('static', filename='images/icon.png') }}"
	    	{% endif %}
	    	alt="User Profile" class="profile-image" />
            <p class="comment-author"> {{ reply.user.first_name }} {{ reply.user.last_name }}</p>
	    	<p class="comment-text">{{ reply.text }}</p>
        </div>
    {% endif %}
{% endfor %}