<div class="comments-section">
    <div class="comment">
        <p class="comment-author">نام کاربر</p>
        <p class="comment-text">این یک نظر است.</p>
        <input id="reply-submit" class="btn btn-secondary" type="submit" value="پاسخ دادن" />
        <div class="nested-comments">
            <div class="comment">
                <p class="comment-author">کاربر دیگر</p>
                <p class="comment-text">این یک پاسخ است.</p>
                <input id="reply-submit" class="btn btn-secondary" type="submit" value="پاسخ دادن" />
            </div>
        </div>
    </div>
</div>