#image-preview {
    display: none;
    position: relative;
    margin-bottom: 10px !important;
    max-width: 100% !important;
    max-height: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 75% !important;
}
#image-container {
    position: relative !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
    justify-content: center !important;
}
.delete-button {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    background: black !important;
    color: white !important;
    border: none !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    padding: 5px !important;
    font-size: 16px !important;
    display: none; 
}