<!DOCTYPE html>
<html lang="en">
<head>

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo-white.png') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo-white.png') }}" />
    
    <!-- FONTS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

    <!-- PAGE TITLE HERE -->
    <title>مجله - majalleh</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plugins.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templete.css') }}">
    <link class="skin" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skin/skin-1.css') }}">

    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script> <!-- CKEDITOR -->    
</head>
<body id="bg">

<div class="page-wraper">
<div id="loading-area"></div>
    <!-- header -->
    {% include 'partials/_header.html' %}
    <!-- header END -->

    <!-- Content -->
    {% block content %}
		{# content goes here. #}
    {% endblock content %}
    <!-- Content END-->

    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script><!-- JQUERY.MIN JS -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/popper.min.js') }}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{{ url_for('static', filename='plugins/bootstrap-select/bootstrap-select.min.js') }}"></script><!-- FORM JS -->
<script src="{{ url_for('static', filename='plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js') }}"></script><!-- FORM JS -->
<script src="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.js') }}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{{ url_for('static', filename='plugins/counter/waypoints-min.js') }}"></script><!-- WAYPOINTS JS -->
<script src="{{ url_for('static', filename='plugins/counter/counterup.min.js') }}"></script><!-- COUNTERUP JS -->
<script src="{{ url_for('static', filename='plugins/imagesloaded/imagesloaded.js') }}"></script><!-- IMAGESLOADED -->
<script src="{{ url_for('static', filename='plugins/masonry/masonry-3.1.4.js') }}"></script><!-- MASONRY -->
<script src="{{ url_for('static', filename='plugins/masonry/masonry.filter.js') }}"></script><!-- MASONRY -->
<script src="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.js') }}"></script><!-- OWL SLIDER -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script><!-- CUSTOM FUNCTIONS  -->
<script src="{{ url_for('static', filename='js/dz.carousel.js') }}"></script><!-- SORTCODE FUNCTIONS -->
<script src="{{ url_for('static', filename='js/dz.ajax.js') }}"></script><!-- CONTACT JS  -->

</body>
</html>
